#root {
  display: flex;
  align-items: center;
  justify-content: center;
}
.App {
  text-align: center;
}
table {
  border: 1px solid #000;
}
th {
  padding: 7px 10px;
  text-align: left;
  background: #ccc;
}
td{
  padding: 10px;
  text-align: left;
}
button {
  margin-right: 5px;
}

